
<% date = Time.now %>
<div class = "graph">
<%= line_chart Price.where(drink: drink, :created_at => (date.beginning_of_day..date.end_of_day)).group_by_minute(:created_at, series: false).sum(:amount) %>
</div>
