



<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a class="page-scroll" href="#beer">Beers</a>
                </li>
                <li>
                    <%= link_to 'Log In', login_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav><!-- /.container -->


<!-- Image Background -->
<div class="intro-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>Welcome To BeerBash</h1>
                  <h3>Never pay full price for beer again!</h3>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li id="wines"><a href="#">wine</a></li>
    <li id="vodkas"><a href="#">vodka</a></li>
    <li id="beers"><a href="#">Beers</a></li>
  </ul>
</div>

<!-- <ul class="nav navbar-nav">
  <li id="wines"><a href="#">wine</a></li>
  <li id="vodkas"><a href="#">vodka</a></li>
  <li id="beers"><a href="#">Beers</a></li>
</ul> -->



<!-- Timer -->
<div class= "reload">
<div id="hour" style="text-align:center"></div>



<!--- Buy Section -->
<section class="win">
  <div class="wi">
    <%= render 'biggest_change', drinks: @drinks %>
  </div>
</section>