<p id="notice"><%= notice %></p>




<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        
        <source src="/modelo.mp4" type="video/mp4">
        
    </video>
</div>



<div class="skewed_box">
  <div class="unskewed_content">
    <%= link_to "Log In", login_path %>
  </div>
</div>

<div class="skewed_box">
  <div class="unskewed_content">
   Drinks
  </div>
</div>

<div class="skewed_box">
  <div class="unskewed_content">
    prices
  </div>
</div>

<div class="skewed_box">
  <div class="unskewed_content">
    contact
  </div>
</div>


</div>



<h1 class="title">
 Magic Happen..
</h1>
<div></div>>



