<!-- Image Background -->
<div class="intro-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>Welcome To BeerBash</h1>
                  <h3>Never pay full price for beer again!</h3>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li id="biggestchange"><a href="#">Main Page</a></li>
    <li id="beerss"><a href="#">Beers</a></li>
    <li id="wine"><a href="#">Wines</a></li>
    <li id="shot"><a href="#">Shots</a></li>
    <li id="cocktail"><a href="#">Signature Cocktails</a></li>
    <!-- <li id="whiskeys"><a href="#">whiskey</a></li>
    <li id="cocktails"><a href="#">cocktails</a></li> -->

  </ul>
</div>



<!-- Timer -->
<div id="hour" style="text-align:center"></div>

<div class="row">
  <div class=".col-md-6">
      <%= render 'partial', drinks: @drinks %>
  </div>
</div>
