// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-message {
    color: #fef76b;
    text-align: center;
    font-family: impact;
}

.section {
  background-size: cover;
  min-height: 100vh;
}
#section1 {
  // width: 100%;
    background-image: url("hand-top.jpg");
  height: 100vh;
  // background-color: #F2F2F2;
}
#section2 {
  // background-image: url("http://www.colorhexa.com/1d1c1a.png");
  // background-image: url("light_beer11.jpg");
  background-image: url("amber_ale1.jpg");


  width: 100%;
  // background-color: #F2F2F2;

}

#section3 {
  height: 100%;
  background-image: url("light_beer11.jpg");

}

#hour {
  text-align: center;
  font-size: 79px;
}

.shots_container{
  display: none;
}
 .beer_container{
   display: none;
 }
.cocktail_container{
  display: none;
}
.best_deal_container{
}
.table th, .table td {
     border-top: none !important;
 }
 .fp-tableCell{
   display: flex;
   flex-direction: column;
 }
ul.nav-tabs{
  order: 1;

}
#hour{
  order: 2;
}
div.admin_timers{
  order: 3;
}
.tables_container{
  order: 5;


}
.best_deal_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  padding-bottom: 150px;


}
.top_tables, .bottom_tables{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
}

#best_deal, #best_deal_cocktail, #best_deal_beer, #best_deal_shot{
  width: 100%;
  height: 50%;
}
.container_video{
    margin-left: 300px;
    margin-top: 120px;

}
