
body{
  margin-top: 50px;
}

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.intro-message {
  text-align: center;
}

.intro-header {
   /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-top: 225px;
    padding-bottom: 225px;
    text-align: center;
    color: #f8f8f8;
    background: url(beer.jpg) no-repeat center center;
    // background-size: cover;
}


.navbar-custom {
  color: blue;
  background-color: black;
}

#hour {
  text-align: center;
  font-size: 79px;
}

#up   {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -265px;
  color: orange;
  font-size: 10em;

}

/* sets positioning */
// .arrow {
//   width: 80px;
//   height: 122px;
//   position: absolute;
//   left: 50%;
//   margin-left: -30px;
//   bottom: 70px;
// }
//
// /* sets arrow style */
// .arrow path {
//   stroke: #119a12;
//   fill: transparent;
//   stroke-width: 3px;
//   animation: arrow 2s infinite;
//   -webkit-animation: arrow 2s infinite;
// }
//
//
//
//
// @-webkit-keyframes arrow{
// 0% {opacity:0}
// 25% {opacity:1}
// 75% {opacity:0}
// 100% {opacity:0}
// }
//
// .arrow path.a1{
//   animation-delay:-1s;
//   -webkit-animation-delay:-1s;
// }
//
// .arrow path.a2{
//   animation-delay:-.5s;
//   -webkit-animation-delay:-.5s;
// }
//
// .arrow path.a3{
//   animation-delay:0s;
//   -webkit-animation-delay:0s;
// }
// .fav{
//   text-align: center;
//   font-size: 2em;
//   color: white;
// >>>>>>> 559c4f545f2f0f528dff175c03ab1e1cdd3b5d50
// }
// #na{
//   text-align:center;
// }
