// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section {
  background-size: cover;
  min-height: 100vh;
}

#section1 {
  // padding-top: 225px;
  padding-bottom: 84px;
  text-align: center;
  color: #f8f8f8;
  width: 100%;
}
#section2 {
  // background-image: image-url("bg2.jpg");
  
}

#section3 {
  // background-image: image-url("bg3.jpg");
}

#hour {
  text-align: center;
  font-size: 79px;
}

#up   {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -265px;
  color: orange;
  font-size: 10em;

}
 iframe{

 }
 .jumbrotron{
  text-align: center;
 }
