<<<<<<< HEAD
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
=======
.header-container {
  width: 100%;
  height: 608px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 92vh;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#hour {
  text-align: center;
  font-size: 59px;
  color: white;
}
>>>>>>> 73099c4f0805b39a4f55040b3d3808775d52f2e3
