
body{
  margin-top: 50px;
}

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.intro-message {
  text-align: center;
}

.intro-header {
   /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-top: 225px;
    padding-bottom: 225px;
    text-align: center;
    color: #f8f8f8;
    background: url(beer.jpg) no-repeat center center;
    // background-size: cover;
}


.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}

#hour {
  text-align: center;
  font-size: 79px;
}

#up   {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -265px;
  color: orange;
  font-size: 10em;

}
#up_arrow{
  color: green;
  margin-left: 5px;
}
#down_arrow{
  color: red;
  margin-left: 5px;
}
div.down_arrow{
  color: red;
}
div.up_arrow{
  color: green;
}
div.reload{

}

div.dropdown {
  padding-top: 11px;
}

#dropdownMenu1 {
  width: 164px;
}
