// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-message {
    color: #fef76b;
    text-align: center;
    font-family: impact;
}

.section {
  background-size: cover;
  min-height: 100vh;
}
#section1 {
  // padding-top: 225px;
  // padding-bottom: 84px;
  // color: #f8f8f8;
  width: 100%;
  background-image: url("beer.jpg");
}
#section2 {
  background-image: url("http://www.colorhexa.com/1d1c1a.png");
  // background: #333333;
}

#section3 {
  // background-image: image-url("bg3.jpg");
}

#hour {
  text-align: center;
  font-size: 79px;
}

#up   {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -265px;
  color: orange;
  font-size: 10em;

}

.shots_container{
  display: none;
}
 .beer_container{
   display: none;
 }
.cocktail_container{
  display: none;
}
.best_deal_container{
  display:block;
}
